@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'animate.css';
@font-face {
    font-family: "Malayalam";
    src: url("../fonts/AnekMalayalam-Light.ttf");
}
[x-cloak] { display: none !important; }


